@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>RandomNumber: @Model.RandomNumber</p>
    <p>Number2: @Model.Number2</p>
    <p>Name: @Model.Name</p>
    <p>PhoneNumber: @Model.PhoneNumber</p>
</div>
